@inherits NDKBaseInput<object>
<button @ref="Element"
        id="@Id"
        name="@Name"
        title="@Title"
        class="@GetClass()"
        style="@Style"
        disabled="@Disabled"
        onclick="@(() => ClickAsync())">
    @ChildContent
</button>


