@using NDK.UI.Components.Base
@using NDK.UI.Models
@typeparam TValue where TValue : NDKFinderOutput
@inherits BaseSelect<TValue>
@if (IsRendered)
{

    <div class="ndk-component ndk-select-container">
        <div class="ndk-select-container-controllers">
            <div class="ndk-select-selected-items">
                @if (SelectedValue is not null)
                {
                    <span class="ndk-select-selected-item">
                        <span class="ndk-select-selected-item-text">
                            @((MarkupString)GetText(SelectedValue)!)
                        </span>
                        <span class="ndk-select-remove-circle-badge" @onclick=@(() => OnRemoveItem(SelectedValue))>
                            <svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 -960 960 960" width="16"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" /></svg>
                        </span>
                    </span>
                }

            </div>
            <div class="ndk-select-input-container">
                <NDKInputText @onclick="() => ShowPopup = !ShowPopup"
                              Class="ndk-select-input"
                              Value="@FilterInput"
                              ValueChanged="OnFilter"/>
            </div>
        </div>

        @if (ShowPopup)
        {
            <div class="ndk-select-popup">

                @if (InMemoryFilter)
                {
                    @if (VisibleSource!.Count == 0)
                    {
                        <div class="ndk-select-popup-search">@NoDataFoundText</div>
                    }
                    @foreach (var item in VisibleSource!)
                    {
                        <div class="ndk-select-popup-item" @onclick="@(() => OnSelect(item))">
                            @((MarkupString)GetText(item)!)
                        </div>
                    }
                }
                else
                {
                    if (Searching)
                    {
                        <div class="ndk-select-popup-search">@SearchText</div>
                    }
                    else
                    {
                        @if(VisibleSource!.Count == 0)
                        {
                            <div class="ndk-select-popup-search">@NoDataFoundText</div>
                        }
                        @foreach (var item in VisibleSource!)
                        {
                            <div class="ndk-select-popup-item" @onclick="@(() => OnSelect(item))">
                                @((MarkupString)GetText(item)!)
                            </div>
                        }
                    }
                }
            </div>
        }
    </div>
}




