@inherits NDKBaseInput<int>

@if (Calendar is null || (Calendar is not null && Calendar.ShowYearPicker))
{

    <div class="ndk-year-picker-container @GetClass()">

        <div class="ndk-year-picker ">

            <div class="ndk-year-picker-header">
                <span class="ndk-year-picker-header-value">
                    @($"{ControlYear - 6} - {ControlYear + 5}")

                </span>


                <NDKButton Id="YearPickerCurrentYear" OnClick="SetCurrentYear">@Options.CurrentYearAlias</NDKButton>

                @if (Calendar is null)
                {
                    <NDKButton Id="YearPickerCurrentYear" OnClick="Clear">@Options.ClearAlias</NDKButton>
                }

                <span class="ndk-year-picker-header-value" onclick="@(() => SetBaseYear(6))">@($"Mais")</span>
                <span class="ndk-year-picker-header-value" onclick="@(() => SetBaseYear(-6))">@($"Menos")</span>

            </div>

            @{

                foreach (var yl in DataSource)
                {
                    <div class="ndk-year-picker-line">

                        @foreach (var yi in yl.Items)
                        {
                            <div class="ndk-year-picker-item-container">
                                <span class="@($"ndk-year-picker-item {(yi.ShowEmpty ? "ndk-year-picker-item-disabled":"-")} {(yi.IsSelected ? "ndk-year-picker-item-selected-ui":"")}")"
                                      onclick="@(() => SetYear(yi))">

                                    @($"{(yi.ShowEmpty ? "-" : yi.Value)}")
                                </span>
                            </div>
                        }

                    </div>
                }
            }
        </div>

    </div>

}


