@using System.Numerics
@typeparam TValue where TValue:INumber<TValue> 
@inherits NDKBaseInput<TValue>

<label>@Prefix</label>
<input @ref="Element"
       value="@CurrentValueAsString"
       id="@Id"
       name="@Name"
       title="@Title"
       class="@GetClass()"
       style="@Style"
       disabled="@Disabled"
       maxlength="@GetMaxLength()"
       oninput="@((ChangeEventArgs args) => Set(args))"
       onchange="@((ChangeEventArgs args) => SetChange(args))"/>
<label>@Suffix</label>